@import url('https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P');
 :root{
   --black:rgba( 26, 24, 22,1);
   --size: 60vh;
   --dash: rgba( 14, 17, 16,1);
   --header:rgba( 44, 27, 17,1);
   --button:rgba(142, 138, 139, 1);
 }
body{
  font-family: 'Press Start 2P', cursive;
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content:space-between;
}
main{
  background-image: url("../images/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.gameboard{
  position: relative;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  }
.center-logo{
  position: absolute;
  background: var(--black);
  height: 40%;
  width: 40%;
  border: 2px solid;
  z-index: 1;
  border-radius: 100%;
}
.buttons{
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--black);
  box-shadow: 0 0 0 .5em var(--black);
  border-radius: 100%;
  grid-gap: .5em;
}
.color{
  border: 6px solid transparent;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: .05s;
  will-change: transform;
}
.a{
  border-radius: 100% 0 0 0;
  background-color: green;
}
.b{
  border-radius: 0 100% 0 0;
  background-color: red;
}
.c{
  border-radius: 0 0 0 100%;
  background-color: yellow;
}
.d{
  border-radius: 0 0 100% 0;
  background-color: blue;
}
.light{
  transform: scale(1.1);
}
.btn:active{
  transform: scale(.93);
}
.btn-start {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 3px 3px var(--button);
  box-shadow: inset 0 0 0 3px var(--button);
  /* box-shadow: inset -3px -3px var(--button); */
  width: 120%;
  height: 5em;
  color: var(--black);
  font-size: 1.2rem;
  position: absolute;
  z-index: 2
}
.dashboard{
  background-color: var(--dash);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: inherit;
  color: white;
}
header{
  height: 6em;
  width: 100%;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo{
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo .course{
  font-size: 1em;
  display: inline;
}
.logo img{
}
.repo, .logo {
  font-family: 'system-ui';
  font-size: 1em;
  text-decoration: none;
}
.profile{
}
.dashboard p{
  font-size: 2em;
  margin: 0;
}
.dashboard a{
  color: white;
}
.dashboard .time{
  font-size: 2em;
}
.dashboard .time h2{
  margin: 0;
}
.number{
  font-family: 'Orbitron', sans-serif;
}
.hide {
  display: none;
}
